{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <script>
  document.addEventListener('submit', function(event) {
    event.path['0'].action += "?new=" + event.path['0'].firstElementChild.value
  });
  </script>
  <h2>Informations</h2>
  <h3>Time: {{time}}</h3>
  <h3>Speed: {{speed}}x</h3>
  {% if paused %}
    <h3 style="color:orange">Status: Paused</h3>
  {% else %}
    <h3 style="color:limegreen">Status: Running</h3>
  {% endif %}
  <h2>Actions</h2>
  <form id='set_speed' action="/speed" method="post" target="nowhere">
    <input name='new' placeholder="new speed" type="number" required min="0" step="0.1">
    <input type='submit' value="Change speed">
  </form>
  <iframe name="nowhere" style="display:none"></iframe>
  <h2>Scheduled tasks</h2>
  <table id="fancy_table">
    <tr>
      <th>Scheduled time</th>
      <th>Target</th> 
      <th>Reccurrence</th>
    </tr>
    {% for item in scheduled_list %}
      <tr>
        <th>{{item[0]}}</th>
        <th>{{item[1]}}</th> 
        <th>{{item[2]}}</th>
      </tr>
    {% endfor %}
  </table>
{% endblock %}