{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <script>
        function set_time() {
            let input = document.getElementById("new_speed");
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/clock/speed?new=" + input.value, true);
            xhr.send(null);
            input.value = ""
        }

        function pause_resume() {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/clock/switch", true);
            xhr.send(null)
        }

        function reset() {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/reset", true);
            xhr.send(null)
        }

        function delete_schedule(name, source) {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", '/schedule/delete?name=' + name + '&source=' + source, true);
            xhr.send(null)
        }

        function delete_source(source) {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", '/app/delete?source=' + source, true);
            xhr.send(null)
        }


        function update_table() {
            fetch("/schedule/list")
                .then(function (response) {
                    return response.text();
                })
                .then(function (data) {
                    document.getElementById("table").innerHTML = data;
                    setTimeout(update_table, 1000)
                })
                .catch(function (error) {
                    console.log(error);
                    setTimeout(update_table, 1000)
                })
        }

        update_table();

        function update_time() {
            fetch("/clock/info")
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    document.getElementById("current_time").innerHTML = data[0];
                    document.getElementById("current_speed").innerHTML = data[1] + "x";
                    let status = data[2] === "True" ? "Paused" : "Running";
                    document.getElementById("resume").style.display = data[2] === "True" ? "unset" : "none";
                    document.getElementById("pause").style.display = data[2] === "True" ? "none" : "unset";
                    document.getElementById("current_status").style.color = data[2] === "True" ? "orange" : "limegreen";
                    document.getElementById("current_status").innerHTML = status;
                    setTimeout(update_time, 1000)
                })
                .catch(function (error) {
                    console.log(error);
                    setTimeout(update_time, 1000)
                })
        }

        update_time();

        $(function () {
            $('#datetimePicker').datetimepicker({
                locale: 'fr',
                format: 'DD/MM/YYYY-HH:mm:ss',
                viewMode: 'times',
                defaultDate: moment('{{ time }}', 'DD/MM/YYYY-HH:mm:ss', true),
            });
        });

    </script>
    <div class="row mt-5">
        <div class="col-xl-5 card h-100">
            <div class="card-body h-100">
                <h2 class="card-title">Information</h2>
                <table class="card-text table">
                    <tbody>
                    <tr>
                        <td><h5>Time</h5></td>
                        <td><h5 id="current_time"></h5></td>
                    </tr>
                    <tr>
                        <td><h5>Speed</h5></td>
                        <td><h5 id="current_speed"></h5></td>
                    </tr>
                    <tr>
                        <td><h5>Status</h5></td>
                        <td><h5 id="current_status"></h5></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-xl-2"></div>
        <div class="col-xl-5 card h-100 mt-xl-0 mt-lg-5 mt-md-5 mt-sm-5 mt-5">
            <div class="card-body h-100">
                <h2 class="card-title">Actions</h2>
                <div class="row align-items-center w-100 mt-3">
                    <input id='new_speed' class="form-control w-50" placeholder="new speed" type="number" required min="0" step="0.1">
                    <input type='button' class="btn btn-primary ml-3" value="Change speed" onclick="set_time()">
                </div>
                <div class="row align-items-center w-100 mt-3">
                    <input id='pause' style="display: unset" class="btn btn-warning" type='button' value="Stop time" onclick="pause_resume()">
                    <input id='resume' style="display: none" class="btn btn-success" type='button' value="Resume time" onclick="pause_resume()">
                </div>
                <div class="row align-items-center w-100 mt-3">
                    <input id='reset' class="btn btn-danger" type='button' value="Reset scheduler" onclick="reset()">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col card h-100">
            <div class="card-body h-100">
                <h2 class="card-title">Schedule a task</h2>
                <div id="notification"></div>
                <form action="/schedule/form" method="post" target="nowhere">
                    <div class="form-row">
                        <div class="form-group w-50">
                            <label class="mr-3" for="taskName">Task name</label>
                            <input name="name" type="text" class="form-control mr-3" id="taskName" placeholder="Task name" required>
                        </div>
                        <div class="form-group w-50 pl-3">
                            <label for="recurrenceChoice">Recurrence</label>
                            <select name="recurrence" class="form-control" id="recurrenceChoice" aria-describedby="emailHelp" required>
                                {% for item in recurrence_list %}
                                    <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group w-50">
                            <label class="mr-3" for="targetURL">Target application</label>
                            <input name="target" type="text" class="form-control mr-3" id="targetURL" placeholder="Target application" required>
                        </div>
                        <div class="form-group w-50 pl-3">
                            <label class="mr-3" for="scheduleTime">Schedule time</label>
                            <div class="input-group date" id="datetimePicker" data-target-input="nearest">
                                <input name="time" id="scheduleTime" type="text" class="form-control datetimepicker-input" data-target="#datetimePicker" required/>
                                <div class="input-group-append" data-target="#datetimePicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group w-50">
                            <label class="mr-3" for="targetURL">Target URL</label>
                            <input name="url" type="text" class="form-control mr-3" id="targetURL" placeholder="Target URL" required>
                        </div>
                        <div class="form-group w-50 pl-3">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group w-100">
                            <label class="mr-3" for="targetURL">Data</label>
                            <textarea name="data" type="text" class="form-control mr-3" id="targetURL" placeholder="Data" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group w-100">
                            <button type="submit" class="btn btn-primary float-right">Schedule</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- col-sm-12 col-md-12 col-lg-12 col-xl-12 -->

    <div class="row mt-5 w-100 p-0">
        <div class="col w-100 m-0" id="table">
        </div>
    </div>


    <iframe name="nowhere" style="display:none"></iframe>
{% endblock %}