<!doctype html>
<html>
<link rel="script" href="{{ url_for('static', filename='bootstrap.js') }}">
<link rel="script" href="{{ url_for('static', filename='bootstrap.bundle.js') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-reboot.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />


<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Scheduler</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand " href="#" style="font-size: 4rem">
        Scheduler
    </a>
</nav>
<div id="content" class="container">{% block content %}{% endblock %}</div>
</body>
</html>