html, body {
   margin:0;
   padding:0;
   height:100%;
}

#content {
   padding:10px;
   padding-bottom:60px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
}

#fancy_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#fancy_table td, #fancy_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#fancy_table tr:nth-child(even){
    background-color: #f2f2f2;
}

#fancy_table tr:hover {
    background-color: #ddd;
}

#fancy_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(150, 150, 150);
    color: white;
}